html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.diagram, .diagram__item_5::before, .diagram__item_4::before, .diagram__item_3::before, .diagram__item_2::before, .diagram__item_1::before {
  content: "";
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 4.6px solid;
  position: absolute;
  top: 0;
  left: -43px;
  background-color: #FFFFFF;
}

* {
  box-sizing: border-box;
  vertical-align: top;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: #4C5D76;
  height: 100%;
}

.wrapper {
  max-width: 1920px;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1370px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  font-weight: 700;
  background: linear-gradient(90deg, #FBF3BB -1.29%, #EDF4DE 46.72%, #E3F0D7 57.78%, #BEE1BC 100%);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: inherit;
}

.common-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.common-section__image-wrap {
  position: relative;
  width: 650px;
  min-height: 430px;
}
.common-section__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  object-position: center;
}
.common-section__description {
  max-width: 607px;
}

.description__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 1.76;
  text-transform: uppercase;
  position: relative;
  margin: 0;
}
.description__title:not(:last-child) {
  margin-bottom: 70px;
}
.description__title::after {
  content: "";
  width: 112px;
  height: 4px;
  background-color: #AED8B0;
  position: absolute;
  left: 0;
  bottom: -21px;
}
.description__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  margin: 0 0 31px 0;
}
.description__text {
  font-weight: 400;
  line-height: 1.94;
  margin: 0;
}
.description__text:not(:last-child) {
  margin-bottom: 25px;
}
.text-accent {
  color: #8AA831;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  margin-bottom: 97px;
  flex-wrap: wrap;
}
.header__logo {
  width: 192px;
  height: 81px;
}
.header__button {
  font-size: 14px;
  padding: 7px 32px;
  border-radius: 18px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.menu__link {
  font-weight: 400;
  line-height: 1.38;
  text-transform: uppercase;
}

.icon-menu {
  display: none;
}

.main {
  position: relative;
}
.main__home {
  margin-bottom: 160px;
}
.main__home::after {
  content: url("../../images/wheat.png");
  transform: scaleX(-1);
  position: absolute;
  top: 400px;
  right: 92%;
}

.home__section {
  position: relative;
}
.section-home__description {
  width: 561px;
  position: relative;
}
.section-home__description::after {
  content: "";
  background-image: linear-gradient(180deg, rgba(194, 227, 191, 0.21) 0%, #FFFFFF 100%);
  width: 1171.72px;
  height: 1111.72px;
  border-radius: 0px 564.194px 221px 564.194px;
  position: absolute;
  z-index: -1;
  bottom: -300px;
  right: -50px;
}
.section-home__info {
  justify-content: flex-start;
  margin-bottom: 24px;
}
.section-home__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 1.16;
  text-transform: none;
}
.section-home__title:not(:last-child) {
  margin-bottom: 104px;
}
.section-home__text {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.38;
  margin: 0px 0px 71px 0px;
}
.section-home__buttons {
  display: flex;
}
.section-home__button {
  height: 54px;
  padding: 16px 57px;
  border-radius: 27px;
  margin-right: 51px;
}
.section-home__download-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38;
  color: rgba(76, 93, 118, 0.66);
}
.section-home__images {
  position: relative;
}
.section-home__image {
  width: 698px;
  display: inline-block;
  margin-left: 34px;
  margin-top: 118px;
  position: absolute;
  z-index: 100;
}
.section-home__image-wrap {
  width: 767px;
  height: 767px;
  border: 1px solid rgba(138, 168, 49, 0.17);
  border-radius: 50%;
  position: relative;
  left: 47px;
}
.section-home__image-wrap::before {
  content: "";
  width: 610.94px;
  height: 610.94px;
  border: 1px solid rgba(138, 168, 49, 0.48);
  border-radius: 50%;
  position: absolute;
  left: 78.64px;
  top: 78.63px;
}
.section-home__image-wrap::after {
  content: "";
  width: 470.6px;
  height: 470.6px;
  border: 1px solid #CEDAA9;
  border-radius: 50%;
  position: absolute;
  left: 148.8px;
  top: 148.8px;
}
.section-home__iso {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding-right: 57px;
}

.accent-soft {
  color: #CDDF97;
}

.green {
  color: #9CBA40;
}

.download-button__img {
  margin-right: 25px;
}
.section-home-iso__countdown {
  display: flex;
  width: 734px;
  border-radius: 14px;
  background-color: rgba(174, 216, 176, 0.12);
  padding: 37px 74px 52px 54px;
  justify-content: space-between;
}
.iso-countdown__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.47;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
  margin: 0;
}
.iso-countdown__info {
  width: 493px;
}
.iso-countdown__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
  width: 100%;
}
.iso-countdown__quantity {
  font-family: "Mina";
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 0 0 23px 0;
}
.iso-countdown__period {
  font-weight: 400;
  line-height: 1.06;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.iso-countdown__scale {
  width: 479px;
  height: 25px;
  background-color: #C7D0D9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12.5px;
  margin: 0 auto;
  position: relative;
}
.iso-countdown__scale::after {
  content: "";
  width: 213px;
  height: 25px;
  background-image: linear-gradient(90deg, #FCF3B8 0%, #F2F6E1 48.9%, #BDE0BB 98.83%);
  box-shadow: 0px 6px 25px #C2E2BE;
  border-radius: 12.5px;
  position: absolute;
  left: 0;
  top: 0;
}

.iso-presale {
  width: 503px;
}
.iso-presale__coin-items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 58px;
  border-bottom: 1px solid #BEE1BC;
  margin-bottom: 58px;
}
.iso-presale__coin-item {
  display: flex;
}
.iso-presale__coin-info {
  display: flex;
  justify-content: space-between;
}

.coin-item__icon {
  margin-right: 14px;
}
.coin-item__price {
  font-weight: 500;
  line-height: 1.06;
  margin: 0;
}
.coin-item__text {
  font-weight: 400;
  line-height: 1.06;
  margin: 0 0 5px 0;
  color: rgba(76, 93, 118, 0.66);
}

.coin-info__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: rgba(76, 93, 118, 0.66);
}
.coin-info__button {
  margin-right: 0;
}

.what-is {
  position: relative;
}
.what-is::before {
  content: url("../../images/grain.png");
  position: absolute;
  top: -70px;
  right: 51%;
  z-index: -1;
}
.what-is::after {
  content: url("../../images/wheat.png");
  position: absolute;
  left: 88.5%;
  top: 355px;
}
.what-is__section {
  margin-bottom: 145px;
}
.what-is__list {
  column-count: 2;
  padding: 0;
  margin: 61px 0 0 0;
}
.what-is__item {
  font-weight: 400;
  line-height: 1.31;
  display: flex;
  align-items: center;
}
.what-is__item:not(:last-child) {
  margin-bottom: 20px;
}
.what-is__item::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #AED8B0;
  margin-right: 20px;
}

.main__partners {
  border-bottom: 1px solid rgba(174, 216, 176, 0.43);
  border-top: 1px solid rgba(174, 216, 176, 0.43);
  margin-bottom: 156px;
}

.partners__section {
  padding: 50px;
}
.section-partners__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
.game {
  position: relative;
}
.game::after {
  content: url("../../images/game.png");
  position: absolute;
  left: 57%;
  top: -125px;
}
.game__image {
  max-width: 652px;
}

.section-game {
  margin-bottom: 122px;
}
.section-game__common-section {
  margin-bottom: 22px;
}
.section-game__button-wrap {
  background-image: url("../../images/seeds.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 155px;
  display: flex;
  align-items: center;
}
.section-game__button {
  padding: 16px 52px;
  border-radius: 27px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
}

.finance {
  position: relative;
}
.finance__section {
  margin-bottom: 154px;
}
.finance__section::after {
  content: url("../../images/wheat_transparent.png");
  position: absolute;
  left: 90%;
  top: 130px;
}
.finance__image {
  max-width: 658px;
}

.main__benefits {
  margin-bottom: 200px;
}

.benefits-section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 106px;
}
.benefits-section__item {
  width: 360px;
  display: flex;
  align-items: center;
}
.benefits-section__img {
  margin-right: 26px;
}
.benefits-section-description__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 0.95;
}
.benefits-section-description__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
}

.main__periods {
  margin-bottom: 153px;
  position: relative;
}
.main__periods::before {
  content: url("../../images/wheat_transparent.png");
  transform: scaleX(-1);
  position: absolute;
  top: 306px;
  right: 88%;
}
.main__periods::after {
  content: "";
  background-image: linear-gradient(213.96deg, rgba(194, 227, 191, 0.16) 10.1%, rgba(255, 255, 255, 0.58) 73.21%);
  width: 2260px;
  height: 1739.15px;
  border-radius: 10% 30% 50% 60%;
  transform: rotate(340deg);
  position: absolute;
  top: -615px;
  left: -100px;
  z-index: -1;
}

.periods-section__title:not(:last-child) {
  margin-bottom: 104px;
}
.periods-section__list {
  max-width: 1009px;
  margin: 0 auto;
  position: relative;
}
.periods-section__list::before {
  content: "";
  height: 100%;
  border: 1px solid rgba(174, 216, 176, 0.38);
  position: absolute;
  top: 0;
  left: 228px;
}
.periods-section__item {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.periods-section__item:not(:last-child) {
  margin-bottom: 50px;
}
.periods-section__item::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: linear-gradient(112.99deg, #F5EA8E -2.52%, #C0E1BB 114.65%);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  position: absolute;
  left: 214px;
  top: 0;
  z-index: 4;
}
.periods-section__item:last-child::before {
  background-image: linear-gradient(112.99deg, #F5EA8E -2.52%, #8AA831 114.65%);
}
.periods-section__item:last-child::after {
  content: "";
  height: 100%;
  border: 10px solid #FFFFFF;
  position: absolute;
  top: 0;
  left: 226px;
  z-index: 3;
}
.periods-section__date {
  max-width: 170px;
  margin-right: 60px;
}
.periods-section__month {
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  color: #8AA831;
  margin-bottom: 5px;
}
.periods-section__year {
  font-family: "Mina";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.45;
  letter-spacing: 0.19em;
}
.periods-section__info {
  width: 700px;
  font-weight: 500;
  line-height: 1.44;
  position: relative;
}

.main__team {
  margin-bottom: 156px;
  position: relative;
}
.main__team::before {
  content: "";
  background-image: linear-gradient(219.13deg, rgba(194, 227, 191, 0.16) 9.39%, rgba(255, 255, 255, 0.58) 68.11%);
  width: 2251px;
  height: 981px;
  border-radius: 10% 0% 50% 60%;
  transform: rotate(19deg);
  position: absolute;
  top: 198px;
  left: -278px;
  z-index: -1;
}
.main__team::after {
  content: url("../../images/wheat.png");
  position: absolute;
  bottom: -75px;
  left: 89%;
}

.team-section__title:not(:last-child) {
  margin-bottom: 115px;
}
.team-section__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  justify-items: center;
  row-gap: 55px;
}
.team-section__item {
  width: 222px;
  display: grid;
  justify-items: center;
}
.team-section__avatar {
  margin-bottom: 38px;
  position: relative;
  width: 202px;
  min-height: 202px;
}
.team-section__avatar::after {
  content: "";
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background-color: #4C5D76;
  position: absolute;
  top: 0;
  right: 0;
}
.team-section__avatar_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}
.team-section__facebook {
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 1;
}
.team-section__name {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px;
  line-height: 0.96;
}
.team-section__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
}

.main__advisory {
  margin-bottom: 156px;
}

.advisory-section__title {
  margin-bottom: 111px;
}
.advisory-section__list {
  display: flex;
  justify-content: space-between;
}
.advisory-section__item {
  width: 423px;
  display: flex;
  align-items: center;
}
.advisory-section__avatar {
  margin-right: 24px;
  position: relative;
}
.advisory-section__avatar::before {
  content: "";
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #4C5D76;
  position: absolute;
  top: 0;
  right: 0;
}
.advisory-section__facebook {
  position: absolute;
  top: 10px;
  right: 10px;
}
.advisory-section__name {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.1;
  margin-bottom: 14px;
}
.advisory-section__description {
  font-weight: 400;
  line-height: 1.4;
}

.avatar-advisory {
  width: 143px;
  height: 143px;
}

.facebook-advisory {
  width: 18px;
  height: 18px;
}

.main__distribution {
  margin-bottom: 105px;
}

.distribution-section__description {
  width: 579px;
}
.distribution-section__title {
  margin-bottom: 98px;
}
.distribution-section__diagram {
  display: flex;
  align-items: center;
}

.diagram__images {
  margin-right: 119px;
}
.diagram__item {
  position: relative;
  font-weight: 400;
  line-height: 1.25;
}
.diagram__item:not(:last-child) {
  margin-bottom: 26px;
}
.diagram__item_1::before {
  border-color: #8AA831;
}
.diagram__item_2::before {
  border-color: #FCF3B8;
}
.diagram__item_3::before {
  border-color: #BDE0BB;
}
.diagram__item_4::before {
  border-color: #818181;
}
.diagram__item_5::before {
  border-color: #FBD606;
}

.main__mailing {
  position: relative;
  margin-bottom: 88px;
}
.main__mailing::before {
  content: "";
  background-color: #F5FAF6;
  height: 175px;
  position: absolute;
  bottom: -88px;
  width: 100%;
  z-index: -1;
}
.main__mailing::after {
  content: url("../../images/seeds-big.png");
  position: absolute;
  top: 11px;
  left: 75%;
  z-index: -1;
}

.mailing__email-icon {
  margin-right: 56px;
}
.mailing__info {
  max-width: 479px;
  margin-right: 93px;
}
.mailing__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 1.22;
  margin-bottom: 33px;
}
.mailing__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
}
.mailing__form {
  width: 429px;
  padding: 17px 28px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.14);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
}
.mailing__address {
  border: none;
}
.mailing__button-submit {
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
  width: 50px;
}

.mailing-section {
  background-image: linear-gradient(270.98deg, rgba(252, 243, 185, 0.8) -19.13%, rgba(238, 245, 222, 0.8) 24.08%, rgba(189, 224, 187, 0.8) 75.15%);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 48px 57px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.mailing-section__container {
  border-top: 1px solid #B5CF66;
  padding-top: 76px;
}

.footer__wrap {
  background-color: #F5FAF6;
}
.footer__container {
  display: flex;
}
.footer__description {
  width: 344px;
  margin-right: 65px;
}
.footer__logo {
  width: 192px;
  margin-bottom: 24px;
}
.footer__text {
  font-weight: 500;
  line-height: 1.44;
}
.footer__posts {
  width: 313px;
  margin-right: 56px;
}
.footer__posts_header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 37px;
}
.footer__insta {
  width: 183px;
  margin-right: 94px;
}
.footer__insta_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 41px;
}
.footer__insta_photo img {
  width: 58px;
}
.footer-posts__item {
  margin-bottom: 25px;
}
.footer-posts__link {
  font-weight: 400;
  line-height: 1.25;
}

.footer-navigation__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 41px;
}
.footer-navigation__item {
  margin-bottom: 15px;
}
.footer-navigation__link {
  font-weight: 400;
  line-height: 1.25;
}

@media (max-width: 1359.98px) {
  .section-home__info {
    justify-content: center;
  }
  .section-home__description {
    width: 100%;
    margin-bottom: 50px;
  }
  .section-home__description::after {
    bottom: -400px;
    left: -42%;
  }
  .section-home__image-wrap {
    display: none;
  }
  .common-section {
    justify-content: center;
  }
  .common-section__image {
    width: 100%;
  }

  .what-is::before {
    top: -70px;
    left: 0;
  }

  .benefits-section__list {
    gap: 50px;
  }
}
@media (max-width: 1199.98px) {
  .header__container {
    justify-content: flex-start;
    gap: 50px;
  }
  .header__button {
    padding: 20px 95px;
  }

  .section-home__description::after {
    bottom: -300px;
    left: -42%;
  }
  .section-home__iso {
    flex-direction: column;
    padding: 0;
    gap: 30px;
  }

  .main__home::after {
    display: none;
  }

  .section-home-iso__countdown {
    width: 100%;
    justify-content: center;
    gap: 30px;
  }

  .iso-presale {
    width: 100%;
    margin-bottom: 50px;
  }
  .iso-presale__coin-items {
    justify-content: center;
    gap: 100px;
  }
  .iso-presale__coin-info {
    justify-content: center;
    gap: 100px;
  }

  .what-is__section {
    margin-bottom: 50px;
  }

  .benefits-section__list {
    gap: 30px;
  }
}
@media (max-width: 991.98px) {
  .header__container {
    margin-bottom: 40px;
  }
  .header__button {
    display: none;
  }

  .section-home__description::after {
    left: -82%;
  }
  .section-home__title:not(:last-child) {
    margin-bottom: 50px;
  }
  .section-home__button {
    width: 50%;
    text-align: center;
  }
  .section-home__download-button {
    width: 50%;
    justify-content: center;
  }

  .main__home {
    margin-bottom: 60px;
  }
  .main__partners {
    margin-bottom: 50px;
  }
  .main__benefits {
    margin-bottom: 50px;
  }
  .main__periods {
    margin-bottom: 50px;
  }
  .main__periods::before {
    display: none;
  }
  .main__team {
    margin-bottom: 50px;
  }
  .main__team::after {
    display: none;
  }
  .main__advisory {
    margin-bottom: 60px;
  }
  .main__distribution {
    margin-bottom: 50px;
  }

  .common-section__image-wrap {
    display: none;
  }
  .common-section__description {
    max-width: 100%;
  }

  .description__title {
    font-weight: 500;
  }
  .description__title:not(:last-child) {
    margin-bottom: 40px;
  }

  .what-is::before {
    display: none;
  }
  .what-is::after {
    display: none;
  }

  .game::after {
    display: none;
  }

  .section-game {
    margin-bottom: 30px;
  }
  .section-game__button {
    padding: 16px 190px;
  }

  .finance__section {
    margin-bottom: 50px;
  }
  .finance__section::after {
    display: none;
  }

  .section-partners__list {
    justify-content: center;
  }

  .benefits-section__item {
    width: 350px;
  }

  .periods-section__title:not(:last-child) {
    margin-bottom: 54px;
  }
  .periods-section__list::before {
    left: 146px;
  }
  .periods-section__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .periods-section__item::before {
    left: 131px;
  }
  .periods-section__item:last-child::after {
    left: 146px;
  }

  .team-section__title:not(:last-child) {
    margin-bottom: 40px;
  }
  .team-section__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  .advisory-section__title {
    margin-bottom: 40px;
  }
  .advisory-section__list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .advisory-section__item {
    width: 350px;
  }

  .distribution-section__container {
    flex-direction: column;
  }
  .distribution-section__description {
    width: 100%;
    margin-bottom: 30px;
  }
  .distribution-section__title {
    margin-bottom: 38px;
  }

  .mailing-section {
    padding: 18px 27px;
    row-gap: 20px;
  }
  .mailing-section__container {
    padding-top: 46px;
  }

  .mailing__email-icon {
    margin-right: 26px;
  }
  .mailing__info {
    margin-right: 0px;
  }
  .mailing__title {
    font-weight: 500;
  }

  .footer__description {
    margin-right: 25px;
  }
  .footer__posts {
    margin-right: 25px;
  }
  .footer__insta {
    margin-right: 25px;
  }
}
@media (max-width: 767.98px) {
  .section-home__buttons {
    flex-direction: column;
  }
  .section-home__button {
    width: 100%;
    margin-bottom: 30px;
  }
  .section-home__download-button {
    width: 100%;
  }

  .section-home-iso__countdown {
    flex-direction: column;
    padding: 30px 10px;
  }

  .iso-countdown__title {
    writing-mode: horizontal-tb;
    transform: none;
  }
  .iso-countdown__info {
    width: auto;
  }
  .iso-countdown__items {
    margin-bottom: 50px;
  }
  .iso-countdown__scale {
    width: auto;
  }
  .iso-countdown__scale::after {
    width: 45%;
  }

  .iso-presale {
    margin: 0;
  }
  .iso-presale__coin-info {
    flex-wrap: wrap;
    gap: 30px;
  }
  .iso-presale__coin-items {
    gap: 30px;
  }

  .section-game__button {
    width: 100%;
    padding: 16px 0px;
    text-align: center;
  }

  .benefits-section__item {
    width: 100%;
  }

  .team-section__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .team-section__avatar {
    width: 190px;
    min-height: 190px;
  }

  .diagram__images {
    margin-right: 79px;
  }

  .footer__container {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .description__title {
    font-weight: 400;
    line-height: 1.5;
  }
}
@media (max-width: 479.98px) {
  .section-home__title {
    font-size: 50px;
  }
  .section-home__text {
    margin-bottom: 20px;
  }

  .iso-countdown__quantity {
    font-size: 40px;
  }

  .iso-presale__coin-items {
    flex-wrap: wrap;
  }

  .team-section__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .distribution-section__diagram {
    flex-direction: column;
    justify-content: center;
  }

  .diagram__images {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .mailing__form {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
