.header {
  // .header__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 97px;
    flex-wrap: wrap;
  }

  // .header__logo
  &__logo {
    width: 192px;
    height: 81px;
  }

  // .header__menu
  &__menu {

  }

  // .header__button
  &__button {
    font-size: $font-size-button;
    padding: 7px 32px;
    border-radius: 18px;
  }
}

.menu {
  // .menu__icon
  &__icon {
  }

  // .menu__body
  &__body {

  }

  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  // .menu__item
  &__item {
  }

  // .menu__link
  &__link {
    font-weight: 400;
    line-height: 1.38;
    text-transform: uppercase;
  }
}

.icon-menu {
  display: none;
}

