$text-main: #4C5D76;
$text-accent: #8AA831;
$accent-soft: #CDDF97;
$green: #9CBA40;
$text-light: rgba(76, 93, 118, 0.66);
$ellipse-1: #CEDAA9;
$ellipse-2: rgba(138, 168, 49, 0.48);
$ellipse-3: rgba(138, 168, 49, 0.17);
$background-decor: rgba(174, 216, 176, 0.12);
$button-gradient: (90deg, #FBF3BB -1.29%, #EDF4DE 46.72%, #E3F0D7 57.78%, #BEE1BC 100%);
$marker: #AED8B0;
$line: #BEE1BC;
$dots-gradient: (112.99deg, #F5EA8E -2.52%, #C0E1BB 114.65%);
$background-gradient-1: (180deg, rgba(194, 227, 191, 0.21) 0%, #FFFFFF 100%);
$background-gradient-2: (213.96deg, rgba(194, 227, 191, 0.16) 10.1%, rgba(255, 255, 255, 0.58) 73.21%);
$background-gradient-3: (219.13deg, rgba(194, 227, 191, 0.16) 9.39%, rgba(255, 255, 255, 0.58) 68.11%);
$contact-form-gradient: (270.98deg, rgba(252, 243, 185, 0.8) -19.13%, rgba(238, 245, 222, 0.8) 24.08%, rgba(189, 224, 187, 0.8) 75.15%);
$background-footer: #F5FAF6;
$max-width: 1920px;
$min-width: 320px;
$content-width: 1370px;
$default-font: 'Karla', sans-serif;
$font-size-button: 14px;
$default-font-size: 16px;
$font-size-titles: 46px;
$font-size-subtitles: 20px;
